<html lang="en">
  {{! HTML Head }}
  <head>
    {{! Metadata }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Title }}
    <title>The JavaScript Blog</title>

    {{! Google Fonts }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    {{! CSS }}
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/generic.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />

  </head>

  {{! HTML Body }}
  <body>
    {{! Header }}
    <header class="container row">
      {{! Header Title }}
      <a href="/">
        <h3>The JavaScript Blog</h3>
      </a>

      {{! Navigation Bar }}
      <nav class="row navigation-bar">
        {{! Home Button }}
        <button id="navbar-home-btn">Home</button>
        {{#if logged_in}}
          {{! Dashboard Button }}
          <button id="navbar-dashboard-btn">Dashboard</button>

          {{! Log In Button }}
          <button id="navbar-logout-btn">Log Out</button>
        {{else}}
          {{! Log In Button }}
          <button id="navbar-login-btn">Log In</button>

          {{! Log In Button }}
          <button id="navbar-sign-up-btn">Sign Up</button>
        {{/if}}
      </nav>
    </header>

    {{! Main }}
    <main class="container row">
      <div class="main-container column">
        {{{body}}}
      </div>
    </main>

    {{! Footer }}
    <footer class="container row">
      <h6>Made with ❤️ by Eduardo Sebastián Vela Alanís</h6>
    </footer>
  </body>

  {{! Navigation Bar Scripts }}
  <script src="/js/navbar.js"></script>
  {{#if logged_in}}
    <script src="/js/navBarLoggedIn.js"></script>
  {{else}}
    <script src="/js/navBarLoggedOut.js"></script>
  {{/if}}
</html>