{{! Log In Form }}
<h1 class="row main-container-title">Log In</h1>

<form class="primary-container column">
  {{! User Input Field }}
  <div class="row input-field">
    <label for="login-username">Username:</label>
    <input id="login-username" type="text" />
  </div>

  {{! Password Input Field }}
  <div class="row input-field">
    <label for="login-password">Password:</label>
    <input id="login-password" type="password" />
  </div>

  <div class="row btn-row">
    {{! Log In Button }}
    <button id="login-btn" type="submit" class="btn-primary">Log In</button>

    {{! Cancel Button }}
    <button id="cancel-btn" type="button" class="btn-secondary">Cancel</button>
  </div>
</form>

{{! Log In Form Script }}
<script src="/js/login.js"></script>