{{! Log In Form }}
<h1 class="row main-container-title">Sign up</h1>

<form class="primary-container column">
  {{! User Input Field }}
  <div class="row input-field">
    <label for="sign-up-username">Username:</label>
    <input id="sign-up-username" type="text" />
  </div>

  {{! Password Input Field }}
  <div class="row input-field">
    <label for="sign-up-password">Password:</label>
    <input id="sign-up-password" type="password" />
  </div>

  <div class="row btn-row">
    {{! Log In Button }}
    <button type="submit" class="btn-primary">Sign In</button>

    {{! Cancel Button }}
    <button type="button" class="btn-secondary">Cancel</button>
  </div>
</form>