/* Post List */
.homepage-post-list {
  gap: 3rem;
}

/* Post List Item */
.homepage-post-list-item {
  cursor: pointer;
}

.homepage-post-list p {
  white-space: pre-wrap;
}

/* Post Title And User  */
.homepage-post-title-and-user {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.homepage-post-title-and-user h4 {
  font-weight: 400;
  font-size: 1.375rem;
}

.homepage-post-title-and-user h5 {
  font-weight: 400;
  font-size: 0.875rem;
}
